@use "../../assets/sass/typography" as *;
@use "../../assets/sass/variables" as *;

.game {
  width: 70%;
  margin-top: 2rem;
  padding: 1rem;
  background-color: $background-color;
  color: $font-color;
  border-radius: 5px;
  border: 3px solid $font-color;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__image {
    width: 250px;
    height: auto;
    display: flex;
    margin: 10px;
    border: 3px solid $font-color;
  }

  h3 {
    font-size: 32px;
    margin: 0;
  }

  p {
    font-size: 1rem;
  }
}
