@use "../../assets/sass/typography" as *;
@use "../../assets/sass/variables" as *;

* {
  margin: 0;
}
.nav {
  background-color: $background-color;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.2rem solid #2964ba;
  &__add {
    color: $font-color;
    text-decoration: none;
  }
  &__home {
    color: $font-color;
    text-decoration: none;
  }
  &__stats {
    color: $font-color;
    text-decoration: none;
  }
}
